<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ex1</title>
</head>
<h1><a href="../index.html">Link to Start Page</a></h1>
<h2>Open console</h2>
<body>
 <form id="form" action="/ex1" method="POST">
  <label>Name: </label>
  <input type="text" name="username" id="username">
  <br>
  <br>
  <label>Email: </label>
  <input type="text" name="email" id="email">
  <br>
  <br>
  <label>Payment Type:</label>
  <br>
  <input type="radio" name="payment" id="cash" value="Cash">
  <label>Cash</label>
  <br>
  <input type="radio" name="payment" id="creditcard" value="Credit Card">
  <label>Credit Card</label>
  <br>
  <input type="radio" name="payment" id="googlepay" value="Google Pay">
  <label>Google Pay</label>
  <br>
  <input type="radio" name="payment" id="applepay" value="Apple Pay">
  <label>Apple Pay</label>
  <br>
  <br>
  <input type="checkbox" name="promotion" id="promotion">
  <label>Sign me up for special promotions</label>
  <br>
  <br>
  <label for="location">Preferred Location:</label>
<select name="location" id="location">
  <option value="Los Angeles">Los Angeles</option>
  <option value="Orange County">Orange County</option>
  <option value="Riverside">Riverside</option>
  <option value="San Diego">San Diego</option>
</select>
<br>
<br>
<input type="submit" value="Submit">
<input type="button" value="Cancel">
 </form>
 
<br>
<br>
<div id="result"></div>
<script src="/ex1.js"></script>
</body>
</html>